<div class="container-fluid">
  <!-- Definimos una secci칩n de footer con Bootstrap -->
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4">
    <!-- Agregamos un p치rrafo con informaci칩n del sitio -->
    <p class="col-md-4 mb-0 text-muted">2023 App Notas</p>

    <!-- Agregamos un enlace al inicio del sitio -->
    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-primary text-decoration-none fw-bold">
      Notas.
    </a>

    <!-- Agregamos una lista de navegaci칩n con un enlace al inicio del sitio -->
    <ul class="nav col-md-4 justify-content-end">
      <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">INICIO</a></li>
    </ul>
  </footer>
</div>
